* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.btn-primary {
    background-color: #B2E5DC;
    color: black;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

/* Document */
body {
    background-color: white;
} 

/* Home Page */

#page-container {
    position: relative;
    min-height: 100vh;
} 

#content-wrap { 
    padding-bottom: 2.5rem;
} 

/* Navbar */ 

/* Logo */
.logo {
    margin: 5px;
    height: 50px;
    width: 50px;
    border: 1px solid white;
}

/* Nav-Link */
.nav-link { 
    color: white;
    margin-top: 10px;
}

.nav-link:hover { 
    color: aqua;
}

.nav-link:focus { 
    /* background-color: #B2E5DC;  */
    background-color: #93CFA2; 
    color: black;
} 

.nav-background { 
    background-color: black;
    height: 60px;
    width: 100%;
}

/* Header */
.header { 
    background-image: linear-gradient(to bottom left, #93CFA2, #B2E5DC, #93CFA2);
    height:200px;
    width: 100%;
} 

.header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 75px;
}

/* About Me */
.about-me-container {
    margin-top: 100px;
}

.about-me { 
    background-color: aliceblue;
    height: 450px;
    
} 

.picture-of-me { 
    border: 3px solid turquoise; 
    margin: 10px 0;
} 

/* Footer */

#footer { 
    position: absolute;
    bottom: 0; 
    width: 100%; 
    height: 1.0rem;
} 

.footer-color { 
    background-color: black;
    color: white;
} 

.footer-link { 
    color: white;
    text-decoration: underline;
} 

.footer-link:hover {
    color: aqua;
    text-decoration: none;
} 

.badge-container { 
    padding-left: 100px;
}

.badge-img { 
    height: 200px; 
    width: 200px; 
} 

.badge-txt { 
    padding-top: 15px; 
    padding-right: 100px;
    opacity: 40%;
} 

.footer-center { 
    text-align: center;
}  






    /* Projects Page */
    .projects-card {
        background-color: green; 
        height: 450px;
        width: 100%;
        overflow: scroll;
        margin-bottom: 50px;
        padding: 50px 0;
    }     

    .projects-container { 
        background-color: black; 
        
}





/* Contact Me Page */
.contact-me-links { 
    color: white; 
    text-decoration: underline;
} 

.contact-me-links:hover {
    color: aqua;
    text-decoration: none;
} 

.contact-me-container { 
    color: white;
    background-color: black;
    text-align: center; 
    border: 5px solid #B2E5DC; 
}

/* Header */
.contact-me-header {
    background-image: linear-gradient(to bottom left, #93CFA2, #B2E5DC, #93CFA2);
    height: 200px;
    width: 100%; 
    margin-top: -40px;
    margin-bottom: 150px;

}

} 


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .badge-img { 
        height: 200px; 
        width: 200px; 
        margin-left: 75px;
    } 
  
    .badge-txt { 
        margin-left: 50px;
    }
  
} 


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


} 


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* Document */
    body {
        background-color: white;
    }
    
    #page-container {
        position: relative;
        min-height: 100vh;
    } 
    
    #content-wrap { 
        padding-bottom: 2.5rem;
    } 
    
    /* Navbar */ 
    
    /* Logo */
    .logo {
        margin: 5px;
        height: 50px;
        width: 50px;
        border: 1px solid white;
    }
    
    /* Nav-Link */
    .nav-link { 
        color: white;
        margin-top: 10px;
    }
    
    .nav-link:hover { 
        color: aqua;
    }
    
    .nav-link:focus { 
        /* background-color: #B2E5DC;  */
        background-color: #93CFA2; 
        color: black;
    } 
    
    .nav-background { 
        background-color: black;
        height: 60px;
        width: 100%;
    }
    
    /* Header */
    .header { 
        background-image: linear-gradient(to bottom left, #93CFA2, #B2E5DC, #93CFA2);
        height:100px;
        width: 100%;
    } 
    
    .header-text {
        text-align: center;
    }
    
    /* About Me */
    .about-me-container {
        margin-top: 50px;
    }
    
    .about-me { 
        background-color: aliceblue;
        height: 450px;
        overflow: scroll;
    
    } 
    
    .picture-of-me { 
        border: 3px solid royalblue; 
        margin-bottom: 50px;
    } 
    
    /* Footer */
    #footer { 
        position: absolute;
        bottom: 0; 
        width: 100%; 
        height: 1.0rem;
    } 
    
    .footer-color { 
        background-color: black;
        color: white;
    } 
    
    .footer-link { 
        color: white;
        text-decoration: underline;
    } 
    
    .footer-link:hover {
        color: aqua;
        text-decoration: none;
    } 
    
    .badge-img { 
        height: 150px; 
        width: 150px; 
    } 
    
    .badge-txt { 
        padding-top: 15px; 
        opacity: 40%;
    } 





    /* Projects Page */
.projects-card {
    background-color: black;
    padding-bottom: 20px;
} 

.bottom-card {
    margin-bottom: 50px;
}





    /* Contact Me Page */ 
    

/* Contact Me Page */
.contact-me-links { 
    color: white; 
    text-decoration: underline;
} 

.contact-me-links:hover {
    color: aqua;
    text-decoration: none;
} 

.contact-me-container { 
    color: white;
    background-color: black;
    text-align: center; 
}

/* Header */
.contact-me-header {
    background-image: linear-gradient(to bottom left, #93CFA2, #B2E5DC, #93CFA2);
    height: 200px;
    width: 100%; 
    margin-top: -40px;
    margin-bottom: 75px;

} 


}  